<%= javascript_include_tag "jquery.tokeninput" %>
<script type="text/javascript">
    $(document).ready(function(){
        $("select#car_make_id").change(function(){
            var id_value_string = $(this).val();
            if (id_value_string == "") { 
                // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
                $("select#car_id option").remove();
                // var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                // $(row).appendTo("select#car_id");
            }
            else {
                // Send the request and update sub category dropdown 
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '/cars/for_makeid/' + id_value_string,
                    timeout: 2000,
                    error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                    },
                    success: function(data){                    
                        // Clear all options from sub category select 
                        $("select#car_id option").remove();
                        //put in a empty default line
                        // var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                        // $(row).appendTo("select#car_id");                        
                        // Fill sub category select 
                        $.each(data, function(i, j){
                            row = "<option value=\"" + j.id + "\">" + j.name + "</option>";   
                            $(row).appendTo("select#car_id");
                        });             
                     }
                });
            };
                });

				// default value for location box, clear on focus, returns when loses focus				
				$("input#location").val("123 Fake St., Toronto, Ontario").css('color', '#bbb');

				$("input#location").focus(function() {
					$(this).val("");
					$(this).css('color', '#000');
				}).blur(function() {
					if ($(this).val() == "") {
						$(this).val("123 Fake St., Toronto, Ontario");
						$(this).css('color', '#bbb');						
					};
				});
    });
</script>
<!-- <div id="inset"></div> -->
<div id="homepage_search">
<% form_tag posts_path, :method => 'get' do %>

	<h1>Enter your location.</h1>
	<!-- <span class="example">e.g. 123 Fake St., Toronto, Ontario</span> -->
	<%= text_field_tag :location %>
	
	<h1>What car are you looking for?</h1>
	<select id="car_make_id" name="car_make_id">
		<option value="">Select a make</option>
		<%= options_from_collection_for_select(@makes, "id", "name") %>
	</select>
	
	<select id="car_id" name="car_id"></select>
	<br/><br/>
	<%= submit_tag "Search!", :name => nil %>
<% end %>
</div>