/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
*/  
@font-face { font-family:GraublauWeb; src:url(./GraublauWeb.otf) format("opentype") }
@font-face { font-family:GraublauWeb; src:url(./GraublauWebBold.otf) format("opentype"); font-weight:bold }

html, body {
	height: 100%;
    width: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial;
	}

#map_canvas {
  height: 400px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #eee;
  border: 5px solid #DFD9C9;
  -moz-border-radius:5px 5px 5px 5px;
}

#wrap {
	min-height: 100%;
/*	border: 1px solid black;*/
	width: 800px;
	margin: 0 auto;
	}

#main_container {
/*	border: 1px solid black;*/
	overflow: auto;
	padding: 30px 0 75px 0;
	width: 800px;
	margin: 0;
    text-align: center;
	}
	
section {
/*  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  margin:auto;*/
/*  width:200px;*/
/*  text-align:center; */
}

#banner {
/*  width: 40%;*/
/*  border: 1px solid black;*/
/*  background-color: #eee;*/
/*  margin: auto;*/
}

#footer {
/*	border: 1px solid black;*/
/*	background-color: #eee;*/
	position: relative;
	margin: -40px auto; /* negative value of footer height */
	padding: 10px 20px 0 20px;
	width: 760px;
	height: 30px;
	clear: both;
	font-size: 12px;
	color: #777;
	text-align: center;
/*	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;*/
}

#footer a {
	color: #777;
	text-decoration: underline;
}

#footer_left ul {
	margin: 0;
	padding: 0;
}

#footer_left ul li {
	display: inline;
	list-style-type: none;
	padding: 0 5px 0 5px;
}

/*#inset {
	height: 80px;
}*/

#homepage_search {
/*	border: 1px solid black;*/
	width: 415px;
	margin: auto;
	padding: 50px 0 0 0;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}                 

#homepage_search .example {
	color: #888;
	font-size: 12px;
}

#homepage_search input[type=text] {
	font-size: 140%;
	width: 400px;
/*	height: 40px;*/
/*	margin: auto;*/
}

#homepage_search input[type=submit] {
/*	float: right;*/
}

#homepage_search select {
	width: 200px;
/*	height: 50px;*/
	font-size: 120%;
	margin: auto;
}

#notice {
	padding: 5px;
}

p {
  font: 14px Arial;
}

p.search_results_info {
	font-size: 120%;
}
td, tr {
  margin: 5px;
  padding: 5px;
  font: 14px Arial;
}

th {
/*  color: green;*/
  font: 16px Arial ;
}

/*div {
  margin: 5px;
}*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 20px;
}

h1, h2 {
  text-align: center;
/*  color: green;*/
  font: 30px GraublauWeb, Georgia, Times, 'Times New Roman', serif; 
}

h2	{
	font-size: 25px;
}

#notice {
  color: red;
}

#errorExplanation {
  color: red;
  border: 2px solid red;
  padding: 5px;
}

table {
  background-color: #eee;
  margin: 0px auto 0px auto;
  border: 5px solid #DFD9C9;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

div .main_link_wrapper {
/*  width: 50%;*/
/*  margin: auto;*/
  text-align: center;
  font: 14px arial;
}
div .main_link_wrapper a {
  text-decoration: none;
  padding: 4px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: solid 1px #ccc;
}

.omni-form {
	margin: auto;
/*	width: 45%;*/
}

.view_post {
/*	border: 1px solid black;*/
	text-align: left;
/*	width: 60%;*/
	margin: auto;
}

.view_post .picture {
	border: 1px solid black;
	float: right;
	/* following is temporary for image placeholder*/
	width: 400px;
	height: 200px;
}

.view_post .post_info {
	font: 25px Arial;
	font-weight: bold;
}

.view_post h2.price_paid{
	font-size: 40px;
	font-weight: bold;
}

.view_post div.description {
	text-indent: 30px;
}

.view_post h1, .view_post h2  {
	text-align: left;
}

#main_container a {
  font: 14px arial;
  text-decoration: none;
  padding: 4px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: solid 1px #ccc;
}

input[type=submit] {
  height: 41px;
  border: 5px solid #660000;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  background-color: #990000;
  color: white;
  font: 18px GraublauWeb;
  vertical-align: middle;
}
input[type=text],input[type=password] {
  color: black;
  /*width: 300px;*/
  background-color: #eee;
  border: 5px solid #DFD9C9;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  font: 18px GraublauWeb;
/*  vertical-align: middle;*/
}

select {
  height: 40px;
  border: 5px solid #DFD9C9;
  background-color: #eee;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  font: 18px GraublauWeb;
  vertical-align: middle;
}

/* Autocomplete */
ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 400px;
/*    border: 1px solid #999;*/
    cursor: text;
/*    font-size: 12px;
    font-family: Verdana;*/
    z-index: 999;
    margin: 0;
    padding: 0;
/*    background-color: #fff;*/
	color: black;
	background-color: #eee;
	border: 5px solid #DFD9C9;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	font: 18px GraublauWeb;
/*	vertical-align: middle;*/
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    width: 350px;
/*    padding: 3px 8px;*/
    background-color: #eee;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    margin: 3px;
/*    padding: 3px 5px;*/
    background-color: #d0efa0;
    color: #000;
    font-weight: bold;
    cursor: default;
    display: block;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #08844e;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
/*    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;*/
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 1;


	color: black;
	/*  width: 300px;*/
	border: 5px solid #DFD9C9;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
/*	font: 18px GraublauWeb;*/
	vertical-align: middle;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #d0efa0;
}

/* Form */

div.form {
	width: 400px;
	margin: auto;*/
/*	text-align: left;*/
}