<% form_for @post do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>New Post</legend>
    <div id="">
      <%= f.label :car_id, 'Enter Car Make + Model' %>
      <%= f.text_field :car_id %>
    </div>
    
    <div id="">
      
    </div>
    
  </fieldset>
<% end %>
